<!DOCTYPE html>
<html>
<head>
<title>Choose Character</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="feed-header">
  <h2>Choose Your Character</h2>
  <span>Pick your vibe 😏</span>
</div>

<div class="grid">
{% for name, c in characters.items() %}
  <a href="/chat/{{name}}" class="card">

    <div class="img-box">
      <img src="{{ url_for('static', filename=c.image) }}">
      <div class="overlay"></div>
    </div>

    <div class="info">
      <h3>{{name}}</h3>
      <p>{{c.role}}</p>
    </div>

  </a>
{% endfor %}
</div>

</body>
</html>
